<!DOCTYPE html>
<html lang="pt-br">
<head th:replace="~{base :: head(title = 'Login')}"></head>
<body>
	<header th:replace="~{base :: header}"></header>
	<main class="container">
		<div th:replace="~{base :: title(value = 'Login')}"></div>
		<div class="card mb-3">
			<div class="row card-body">
				<form class="p-3" th:action="@{/login}" method="post">
					<div class="form-group mb-3">
						<label class="form-label" for="username">Usuário</label>
						<input class="form-control" type="text" name="username" placeholder="Usuário">
					</div>
					<div class="form-group mb-3">
						<label class="form-label" for="password">Senha</label>
						<input class="form-control" type="password" name="password" placeholder="Senha">
					</div>
					<input class="btn btn-primary" type="submit" value="Acessar"/>
				</form>
			</div>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
	</main>
</body>
</html>